.card {
    max-width: 350px;
}

.card-footer {
    display: flex;
    justify-content: center;
    max-width: 100%;

    padding-top: 12px;
    padding-bottom: 16px;
}

.card-footer-link {
    width: 100%;
}

button {
    width: 100%;
}

h4 {
    margin-bottom: 0;
}

.card-header {
    padding-top: 12px;
}

.card-img {
    padding-bottom: 8px;
}